body {
  font-family: Arial, Helvetica, sans-serif;
  }

h1, h2 {
  border-left: 4px solid Line; 
  padding-left: 10px;
  color: Electric, Gold;
  }

a {
  color: Gold;
  }

.sidebar {
  background-color: Silver; 
  }

.sidebar ul li a {
  color: Turquoise; 
  }

.sidebar ul li a:hover {
  background-color: Gold;
  }


