body {
  font-family: Arial, Helvetica, sans-serif;
  }

h1, h2 {
  border-left: 4px solid Gold; /* Safety-green color */
  padding-left: 10px;
  color: Electric;
  }

.sidebar {
  background-color: Gold; /* calm, safe background */
  }

.sidebar ul li a {
  color: Gold; /* deep, stable green */
  }

.sidebar ul li a:hover {
  background-color: Gold;
  }
